<h1>
    Sign_UP
</h1>
<div class="signUp_div">
    <form action="/users/create" method="post">
        <input type="text" name="name" placeholder="Enter Your Name" required>
        <input type="email" name="email" placeholder="Enter Your Email" required>
        <input type="password" name="password" placeholder="Enter Password" required>
        <input type="password" name="confirm_password" placeholder="Confirm Password" required>
        <button type="submit">Sign Up</button>
    </form>
</div>

<a href="/users/auth/google">Google Sign Up</a>
